<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mapper.SocketDailyMapper">
    <select id="findAllById" resultType="com.example.hotel.entity.SocketDaily">

    SELECT
    *
    FROM
    socket_daily
    WHERE post = #{post}
    </select>
</mapper>
